<div class="functions-accessibilitys">
    <ul>
        <li>
            <button
            matTooltip="Aumentar contraste"
            matTooltipPosition="left"
            mat-mini-fab 
            color="primary"
            (click)="changeContrast()">
                <mat-icon>dark_mode</mat-icon>
            </button>
        </li>
        <li>
            <button 
            matTooltip="Aumentar fonte"
            matTooltipPosition="left"
            mat-mini-fab 
            color="primary"
            (click)="increaseFontSize()">
                <strong>A+</strong>
            </button>
        </li>
        <li>
            <button 
            matTooltip="Restaurar fonte"
            matTooltipPosition="left"
            mat-mini-fab 
            color="primary"
            (click)="resetFontSize()">
                <strong>A</strong>
            </button>
        </li>
        <li>
            <button 
            matTooltip="Diminuir fonte"
            matTooltipPosition="left"
            mat-mini-fab 
            color="primary"
            (click)="decreaseFontSize()">
                <strong>A-</strong>
            </button>
        </li>
    </ul>
</div>