.functions-accessibilitys {
    top: 60%;
    z-index: 999;
    width: auto;
    right: 10px;
    position: fixed;
}

.functions-accessibilitys ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.functions-accessibilitys ul li {
    width: 3rem;
    margin: .2rem;
    padding: .5rem;
    list-style: none;
}

.functions-accessibilitys ul li button {
    // Add transparent 30% to background color
    display: flex;
    align-items: center;
    justify-content: center;
}
