.cell-container {
    width: 80%;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nothing-yet {
    padding-top: 10px;
    opacity: 0.6;
}

.nothing-yet h2 {
    color: black;
}

.nothing-yet img {
    width: 18em;
}

.drawer-header h5{
    padding: 10px;
    font-size: 1.5em;
    font-weight: 400;
}

.drawer-content {
    padding: 10px;
}

.drawer-footer {
    background-color: #ffffff;
    padding: 10px;
}

.chart-content {
    padding-top: 30px;
}

.subtitle {
    padding-bottom: 10px;
}