<div fx layout="row" fxLayoutAlign="center center" fxLayoutGap="75px">
    <app-add-new-cell [isDisabled]="hasCell ? true : false" (createNewCellEvent)="createNewCell()"></app-add-new-cell>
    <app-count-cell-squad [count]="hasCell ? 1 : 0"></app-count-cell-squad>
</div>
<div fx layout="row" fxLayoutAlign="center center">
    <div class="cell-container">
        <div *ngIf="!hasCell" fxLayout="column" fxLayoutAlign="space-around center" class="nothing-yet">
            <h2>Não há nada por aqui ainda...</h2>
            <img src="../../../assets/No data-pana.svg" alt="empty">
        </div>
        <div *ngIf="hasCell" fx layout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="75px">
            <app-cell-card (openDrawerEvent)="openDrawer()" [cell]="cell"></app-cell-card>
        </div>
    </div>
</div>
<app-drawer [isOpen]="isDrawerOpen" (drawerClosed)="close()" [width]="500">
    <div header class="drawer-header">
        <h5> Detalhes sobre a Célula</h5>
    </div>
    <div body class="drawer-content">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="subtitle">
            <mat-icon>info</mat-icon> 
            <b>Status da célula</b>
        </div>
        <div fxLayout="column" fxLayoutAlign="center" >
            <app-statistical-squares
                title1="Status"
                prop1="{{translateStatusHelper(cell?.status)}}"
                title2="Com Observação"
                prop2={{statistics.qtdPending}}
                title3="Válidos"
                prop3={{statistics.qtdApproved}}
            ></app-statistical-squares>
        </div>
        <div class="chart-content">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="subtitle">
                <mat-icon>donut_large</mat-icon> 
                <b>Estátisticas</b>
            </div>
            <div fx layout="column" fxLayoutAlign="center center">
                <app-pie-chart *ngIf="isDrawerOpen"
                    [labels]="['Com Observação', 'Válidos']" 
                    [data]="[statistics.qtdPending, statistics.qtdApproved]">
                </app-pie-chart>
            </div>
        </div>
    </div>
</app-drawer>