.disabled-class {
    opacity: 0.5;
}

.add-card {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.add-card-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.add-container button:hover {
    opacity: 1;
}

img {
    height: 12em;
}

button {
    z-index: 1;
    top: -25px;
    left: 125px;
}