<div ngClass="{{class}}">
    <div class="add-card">
        <p class="add-card-text">Adicionar nova célula</p>
        <img src="../../../../assets/New-team-members-pana.svg" alt="Adicionar nova célula">
    </div>
    <button 
        mat-fab 
        color="accent"  
        aria-label="Example icon button with a bookmark icon" 
        color="primary"
        [disabled]=isBtnDisabled
        (click)="createNewCell()"
        >
        <mat-icon>add</mat-icon>
    </button>
</div>
