.form {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 100%;
}

mat-form-field {
  margin-top: 10px;
  width: 100%;
  margin-left: 10px;
}

.login-frase {
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
}

.button-register {
    padding-top: 10px;
}