<div class="form" fxLayout="column" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxLayoutAlign="center center">
        <h1 class="welcome-frase">Cadastrase-se no PACCE <strong>Connect</strong></h1>
        <h1>Articulador(a)</h1>
    </div>
    <form class="form" [formGroup]="registerFormArticulator" (ngSubmit)="submitForm()">
      <div fxLayout="column" fxLayoutAlign="space-between">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Vitória" required formControlName="name">
                <mat-error *ngIf="nameControl.invalid">{{getNameErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Sobrenome</mat-label>
                <input matInput placeholder="Alves" required formControlName="surName">
                <mat-error *ngIf="surNameControl.invalid">{{getSurNameErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field appearance="outline">
                <mat-label>Matrícula</mat-label>
                <input matInput placeholder="067367" required formControlName="matriculation">
                <mat-error *ngIf="matriculationControl.invalid">{{getMatriculationErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Curso</mat-label>
                <mat-select required formControlName="course">
                    <mat-option value=0>Engenharia de Software</mat-option>
                    <mat-option value=1>Ciência da Computação</mat-option>
                    <mat-option value=2>Sistemas de Informação</mat-option>
                    <mat-option value=3>Engenharia da Computação</mat-option>
                    <mat-option value=4>Design Digital</mat-option>
                </mat-select>
                <mat-error *ngIf="courseControl.invalid">{{getCourseErrorMessage()}}</mat-error>
              </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field appearance="outline">
                <mat-label>Nome de usuário</mat-label>
                <input matInput placeholder="alex_silva" required formControlName="userName">
                <mat-error *ngIf="userNameControl.invalid">{{getUserNameErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Celular</mat-label>
                <span matPrefix>+55 &nbsp;</span>
                <input matInput placeholder="8899228272" maxlength="11" formControlName="phone">
                <mat-hint align="end">{{phoneControl.value?.length || 0}}/11</mat-hint>
                <mat-error *ngIf="phoneControl.invalid">{{getPhoneErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="vitoria@alves.com" required formControlName="email">
          <mat-error *ngIf="emailControl.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field class="row1" appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="password">
            <mat-error *ngIf="password1Control.invalid">{{getPassword1ErrorMessage()}}</mat-error>
            <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
              <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Confirme a senha</mat-label>
            <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="password2">
            <mat-error *ngIf="password2Control.invalid">{{getPassword2ErrorMessage()}}</mat-error>
            <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="column" style="justify-content: start;">
  
        <div fxLayout="row" fxLayoutAlign="center" class="button-register">
          <button mat-raised-button color="primary" type="submit">Registrar</button>
        </div>
      </div>
    </form>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" class="register">
    <a class="login-frase" (click)="registerHanlder()">Já tem uma conta? <strong>Entrar</strong></a>
  </div>