<div class="dialog-comment">
    <h1 mat-dialog-title>Adicionar Feeback</h1>
    <div mat-dialog-content>
        <h3>Item: {{data.item}}</h3>
        <p>Descrição: {{data.description}}</p>

        <mat-form-field>
            <textarea matInput placeholder="Digite seu feedback..." [(ngModel)]="data.feedback"></textarea>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button 
            mat-button 
            (click)="cancel()" 
            color="warn" 
            matTooltip="Cancelar"
            matTooltipPosition="above">
                <mat-icon>cancel</mat-icon>
        </button>
        <button 
            mat-button 
            (click)="clear()" 
            color="accent" 
            matTooltip="Limpar"
            matTooltipPosition="above">
            <mat-icon>clear</mat-icon>
        </button>
        <button 
            mat-button 
            [mat-dialog-close]="data.feedback" 
            cdkFocusInitial 
            color="primary" 
            matTooltip="Salvar"
            matTooltipPosition="above">
            <mat-icon>check</mat-icon>
        </button>
    </div>
</div>