.dialog-comment {
    width: 300px;
    border-radius: 50px;
}

mat-form-field {
    width: 100%;
}

.mat-mdc-dialog-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: none;
}

.mat-mdc-dialog-content {
    width: 100%;
    padding: 0 24px 0px 24px;
}