.breadcrumb ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    opacity: 0.7;
}

.breadcrumb li {
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    display: flex;
    align-items: center;
}