<div class="breadcrumb">
    <ul>
        <li *ngFor="let breadcrumb of breadcrumbs" (clich)="navigateTo(breadcrumb.url)">
            <a routerLink="{{breadcrumb.url}}">{{breadcrumb.title}}</a>
            <mat-icon>chevron_right</mat-icon>
        </li>
    </ul>
</div>