.btn-notification {
    margin: 10px;
}

.no-notifications {
    padding: 10px;
}

.notifications {
    padding-left: 8px;
}

.notifications-light:hover {
    background-color: #f5f5f5;
}

.notifications-dark:hover {
    background-color: #424242;
}

.drawer-header h5{
    padding: 10px;
    font-size: 1em;
    font-weight: 300;
}

.notification-item {
    padding-bottom: 15px;
}

.read span {
    font-weight: 300;
    opacity: 0.6;
}