<button mat-icon-button [matMenuTriggerFor]="menu2" matTooltip="Notificações" matTooltipPosition="left">
    <mat-icon
        matBadge="{{notificationsNoRead.length}}"
        matBadgeColor="warn"
        [matBadgeHidden]="!notificationsNoRead.length"
    >notifications</mat-icon>
</button>

<mat-menu #menu2="matMenu" class="notification-tab">
    <p *ngIf="!notificationsNoRead.length" class="no-notifications">Não há notificações recentes...</p>
    <div *ngFor="let notification of notificationsNoRead">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="notifications">
            <div fxLayout="column" fxLayoutAlign="center center">
                <span> {{notification.createdAt | date:'dd/MM/yyyy HH:mm'}}</span>
                <span class="notification-title">{{notification.cellName}} - {{translateStatus(notification.cellStatus)}}</span>
            </div>
            <button mat-icon-button aria-label="" (click)="markAsRead(notification.id)" matTooltip="Marcar como lida" matTooltipPosition="right">
                <mat-icon>done</mat-icon>
            </button>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="btn-notification">
        <button mat-stroked-button (click)="openDrawer()">Ver todas</button>
    </div>
</mat-menu>
<app-drawer [isOpen]="isDrawerOpen" (drawerClosed)="close()" [width]="500">
    <div header class="drawer-header">
        <h5> <mat-icon>notifications</mat-icon> Todas as notificações</h5>
    </div>
    <div body class="drawer-content">
        <div *ngFor="let notification of allNotifications" class="notification-item notifications-light">
            <div fxLayout="row" fxLayoutAlign="space-around center" class="notifications" ngClass="{{setReadClass(notification.isRead)}}" >
                <div fxLayout="column" fxLayoutAlign="center center">
                    <span> {{notification.createdAt | date:'dd/MM/yyyy HH:mm'}}</span>
                    <span class="notification-title">{{notification.cellName}} - {{translateStatus(notification.cellStatus)}}</span>
                </div>
                <button *ngIf="!notification.isRead" mat-icon-button aria-label="" (click)="markAsRead(notification.id)" matTooltip="Marcar como lida" matTooltipPosition="right">
                    <mat-icon>done</mat-icon>
                </button>
            </div>
        </div>
    </div>
</app-drawer>
