.form-steper {
    width: 56em;
    margin: 0 auto;
    border-radius: 15px;
}

input:disabled {
    color: rgba(55, 55, 55, 0.87);
}

mat-form-field {
    width: 100%;
    padding: 5px;
}

::ng-deep .mat-drawer-container {
    background-color: transparent;
}

.full-width {
    width: 100%;
    padding: 5px;
}

.button-register {
    margin-top: 15px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.lock-icon {
    color: #9e9e9e;
}

i {
    background-color: rgb(253, 144, 155);
    color: white;
    border-radius: 5px;
    font-weight: 200;
}