<div fxLayout="column" fxLayoutAlign="center center">
    <h1>
        Plano de célula: <b> {{cell.name}}</b>
    </h1>
    <h2>
        Articulador: <b>{{cell.articulator.name}} {{cell.articulator.surName}}</b>
    </h2>
    <app-statistical-squares
        title1="Status"
        prop1={{status}}
        title2="Com comentários"
        prop2={{qtdPending}}
        title3="Válidos"
        prop3={{qtdApproved}}
    ></app-statistical-squares>
    <mat-horizontal-stepper liner #stepper class="form-steper">
        <mat-step [stepControl]="feedbackFormStep1">
            <form class="form" [formGroup]="feedbackFormStep1" (ngSubmit)="nextStep(stepper)">
                <ng-template matStepLabel>Informações da célula</ng-template>
                <div fxLayout="column" fxLayoutAlign="space-between">
                    <mat-form-field appearance="outline">
                        <mat-label>Título da Célula</mat-label>
                        <input matInput placeholder="Título" disabled value="{{cell.plan.title}}">
                        <mat-icon class="lock-icon" matSuffix>lock</mat-icon>
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                        <div >
                            <p *ngIf="cell.plan.titleComment">
                                <i>Comentário: {{cell.plan.titleComment}}</i>
                            </p>
                        </div>
                        <button 
                            mat-mini-fab
                            (click)="openDialogTitle(cell.plan.title)" 
                            type="button" 
                            matTooltip="Comentário"
                            matTooltipPosition="above"
                            >
                            <mat-icon>comment</mat-icon>
                        </button>
                    </div>
            
                    <div fxLayout="row" fxLayoutAlign="space-around center">
                        <div fxLayout="column" class="full-width">
                            <mat-form-field appearance="outline">
                                <mat-label>Dia da semana</mat-label>
                                <input matInput disabled value="{{dayOfWeekFormated}}">
                                <mat-icon class="lock-icon" matSuffix>lock</mat-icon>
                            </mat-form-field>
                            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                                <div >
                                    <p *ngIf="cell.plan.dayOfWeekComment">
                                        <i>Comentário: {{cell.plan.dayOfWeekComment}}</i>
                                    </p>
                                </div>
                                <button 
                                    mat-mini-fab
                                    (click)="openDialogDayOfWeek(cell.plan.dayOfWeek)" 
                                    type="button"  
                                    matTooltip="Comentário"
                                    matTooltipPosition="above"
                                    [disabled]="!dayOfWeekValidateControl.value === false"
                                    >
                                    <mat-icon>comment</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div fxLayout="column" class="full-width">
                            <mat-form-field appearance="outline">
                                <mat-label>Horário</mat-label>
                                <input matInput type="time" disabled value="{{cell.plan.time}}">
                                <mat-icon class="lock-icon" matSuffix>lock</mat-icon>
                            </mat-form-field>
                            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                                <div >
                                    <p *ngIf="cell.plan.timeComment">
                                        <i>Comentário: {{cell.plan.timeComment}}</i>
                                    </p>
                                </div>
                                <button 
                                    mat-mini-fab 
                                    (click)="openDialogTime(cell.plan.time)" 
                                    type="button" 
                                    matTooltip="Comentário"
                                    matTooltipPosition="above"
                                    [disabled]="!timeValidateControl.value === false"
                                    >
                                    <mat-icon>comment</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <div fxLayout="column" class="full-width">
                            <mat-form-field appearance="outline">
                                <mat-label>Local</mat-label>
                                <input matInput placeholder="Vitória" disabled value="{{cell.plan.local}}">
                                <mat-icon class="lock-icon" matSuffix>lock</mat-icon>
                            </mat-form-field>
                            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                                <div >
                                    <p *ngIf="cell.plan.localComment">
                                        <i>Comentário: {{cell.plan.localComment}}</i>
                                    </p>
                                </div>
                                <button 
                                    mat-mini-fab 
                                    (click)="openDialogLocal(cell.plan.local)" 
                                    type="button" 
                                    matTooltip="Comentário"
                                    matTooltipPosition="above"
                                    [disabled]="!localValidateControl.value === false"
                                    >
                                    <mat-icon>comment</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div fxLayout="column" class="full-width">
                            <mat-form-field appearance="outline">
                                <mat-label>Duração</mat-label>
                                <input matInput type="time" disabled value="{{cell.plan.duration}}">
                                <mat-icon class="lock-icon" matSuffix>lock</mat-icon>
                            </mat-form-field>
                            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                                <div >
                                    <p *ngIf="cell.plan.durationComment">
                                        <i>Comentário: {{cell.plan.durationComment}}</i>
                                    </p>
                                </div>
                                <button 
                                    mat-mini-fab 
                                    (click)="openDialogDuration(cell.plan.duration)" 
                                    type="button"  
                                    matTooltip="Comentário"
                                    matTooltipPosition="above"
                                    [disabled]="!durationValidateControl.value === false"
                                    >
                                    <mat-icon>comment</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div fxLayout="column" style="justify-content: start;">
                </div>
                <div fxLayout="row" fxLayoutAlign="center" class="button-register">
                    <button mat-raised-button color="primary" type="submit">Próximo</button>
                </div>
            </form>
        </mat-step>
        
        <!-- Step 2 -->
        <mat-step [stepControl]="feedbackFormStep2">
            <form [formGroup]="feedbackFormStep2" (ngSubmit)="submitForm()" rrorMessage="Preencha todos os campos">
                <ng-template matStepLabel>Outras Informações</ng-template>
                <div fxLayout="column" fxLayoutAlign="space-between">
                    <mat-form-field appearance="outline" class="first-field">
                        <mat-label>Modo</mat-label>
                        <input matInput placeholder="Vitória" disabled value="{{cell.plan.mode}}">
                        <mat-icon class="lock-icon" matSuffix>lock</mat-icon>
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                        <div >
                            <p *ngIf="cell.plan.modeComment">
                                <i>Comentário: {{cell.plan.modeComment}}</i>
                            </p>
                        </div>
                        <button 
                            mat-mini-fab 
                            (click)="openDialogMode(cell.plan.mode)" 
                            type="button" 
                            matTooltip="Comentário"
                            matTooltipPosition="above"
                            [disabled]="!modeValidateControl.value === false"
                            >
                            <mat-icon>comment</mat-icon>
                        </button>
                    </div>
                    <mat-form-field appearance="outline">
                        <mat-label>Sinopse</mat-label>
                        <input matInput placeholder="Vitória" disabled value="{{cell.plan.synopsis}}">
                        <mat-icon class="lock-icon" matSuffix>lock</mat-icon>
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                        <div >
                            <p *ngIf="cell.plan.synopsisComment">
                                <i>Comentário: {{cell.plan.synopsisComment}}</i>
                            </p>
                        </div>
                        <button 
                            mat-mini-fab 
                            (click)="openDialogSynopsis(cell.plan.synopsis)" 
                            type="button" 
                            matTooltip="Comentário"
                            matTooltipPosition="above"
                            [disabled]="!synopsisValidateControl.value === false"
                            >
                            <mat-icon>comment</mat-icon>
                        </button>
                    </div>
                    <mat-form-field appearance="outline">
                            <mat-label>Justificativa</mat-label>
                            <input matInput placeholder="Vitória" disabled value="{{cell.plan.justification}}">
                            <mat-icon class="lock-icon" matSuffix>lock</mat-icon>
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                        <div >
                            <p *ngIf="cell.plan.justificationComment">
                                <i>Comentário: {{cell.plan.justificationComment}}</i>
                            </p>
                        </div>
                        <button 
                            mat-mini-fab 
                            (click)="openDialogJustification(cell.plan.justification)" 
                            type="button"
                            matTooltip="Comentário"
                            matTooltipPosition="above"
                            [disabled]="!justificationValidateControl.value === false"
                            >
                            <mat-icon>comment</mat-icon>
                        </button>
                    </div>
                    <mat-form-field appearance="outline">
                            <mat-label>Público alvo</mat-label>
                            <input matInput placeholder="Vitória" disabled value="{{cell.plan.targetAudience}}">
                            <mat-icon class="lock-icon" matSuffix>lock</mat-icon>
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                        <div >
                            <p *ngIf="cell.plan.targetAudienceComment">
                                <i>Comentário: {{cell.plan.targetAudienceComment}}</i>
                            </p>
                        </div>
                        <button 
                            mat-mini-fab 
                            (click)="openDialogTargetAudience(cell.plan.targetAudience)" 
                            type="button" 
                            matTooltip="Comentário"
                            matTooltipPosition="above"
                            [disabled]="!targetAudienceValidateControl.value === false"
                            >
                        <mat-icon>comment</mat-icon></button>
                    </div>
                    <mat-form-field appearance="outline">
                            <mat-label>Atividades</mat-label>
                            <input matInput placeholder="Vitória" disabled value="{{cell.plan.activities}}">
                            <mat-icon class="lock-icon" matSuffix>lock</mat-icon>
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                        <div >
                            <p *ngIf="cell.plan.activitiesComment">
                                <i>Comentário: {{cell.plan.activitiesComment}}</i>
                            </p>
                        </div>
                        <button 
                            mat-mini-fab 
                            (click)="openDialogActivities(cell.plan.activities)" 
                            type="button"
                            matTooltip="Comentário"
                            matTooltipPosition="above"
                            [disabled]="!activitiesValidateControl.value === false"
                            >
                            <mat-icon>comment</mat-icon>
                        </button>
                    </div>
                    <mat-form-field appearance="outline">
                            <mat-label>Ferramentas</mat-label>
                            <input matInput placeholder="Vitória" disabled value="{{cell.plan.tools}}">
                            <mat-icon class="lock-icon" matSuffix>lock</mat-icon>
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                        <div >
                            <p *ngIf="cell.plan.toolsComment">
                                <i>Comentário: {{cell.plan.toolsComment}}</i>
                            </p>
                        </div>
                        <button 
                            mat-mini-fab 
                            (click)="openDialogTools(cell.plan.tools)" 
                            type="button" 
                            matTooltip="Comentário"
                            matTooltipPosition="above"
                            [disabled]="!toolsValidateControl.value === false"
                            >
                            <mat-icon>comment</mat-icon>
                        </button>
                    </div>
                    <mat-form-field appearance="outline">
                            <mat-label>Indicadores de resultados</mat-label>
                            <input matInput placeholder="Vitória" disabled value="{{cell.plan.resultIndicators}}">
                            <mat-icon class="lock-icon" matSuffix>lock</mat-icon>
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                        <div >
                            <p *ngIf="cell.plan.resultIndicatorsComment">
                                <i>Comentário: {{cell.plan.resultIndicatorsComment}}</i>
                            </p>
                        </div>
                        <button 
                            mat-mini-fab 
                            (click)="openDialogResultIndicators(cell.plan.resultIndicators)" 
                            type="button" 
                            matTooltip="Comentário"
                            matTooltipPosition="above"
                            [disabled]="!resultIndicatorsValidateControl.value === false"
                            >
                            <mat-icon>comment</mat-icon>
                        </button>
                    </div>
                    <mat-form-field appearance="outline">
                            <mat-label>Meios de Verficação</mat-label>
                            <input matInput placeholder="Vitória" disabled value="{{cell.plan.meansOfVerification}}">
                            <mat-icon class="lock-icon" matSuffix>lock</mat-icon>
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                        <div >
                            <p *ngIf="cell.plan.meansOfVerificationComment">
                                <i>Comentário: {{cell.plan.meansOfVerificationComment}}</i>
                            </p>
                        </div>
                        <button 
                            mat-mini-fab 
                            (click)="openDialogMeansOfVerification(cell.plan.meansOfVerification)" 
                            type="button" 
                            matTooltip="Comentário"
                            matTooltipPosition="above"
                            [disabled]="!meansOfVerificationValidateControl.value === false"
                            >
                            <mat-icon>comment</mat-icon>
                        </button>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-around center" class="button-register">
                    <button mat-button matStepperPrevious>
                        <mat-icon>keyboard_arrow_left</mat-icon>
                        Voltar
                    </button>
                    <button *ngIf="isSent" mat-raised-button color="primary" type="submit">
                        <mat-icon>send</mat-icon>
                        Enviar {{action}}
                    </button>
                    <button mat-mini-fab [matMenuTriggerFor]="menu" type="button">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                        <mat-menu #menu="matMenu">
                        <button disabled mat-menu-item>
                            <mat-icon>cancel</mat-icon>
                            Cancelar
                        </button>
                        <button disabled mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            Excluir
                        </button>
                    </mat-menu>
                </div>
            </form>
        </mat-step>

    </mat-horizontal-stepper>
</div>