<mat-toolbar>
    <mat-toolbar-row>
        <app-breadcrumbs></app-breadcrumbs>
        <span class="example-spacer"></span>
        <app-notification  [userId]="userId"></app-notification>
        <span>Olá, {{userName}}</span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
        </button>
    </mat-toolbar-row>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Meu Perfil</button>
        <button mat-menu-item>Sair</button>
    </mat-menu>
</mat-toolbar>