.drawer-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    transition: all 500ms;
    background-color: #ffffff;
    z-index: 1;
}

.dark-theme {
    background-color: #333333;
}

.dark-theme button {
    color: #ffffff;
}

.back-btn {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}