<div *ngIf="showDrawer" class="drawer-container" [ngStyle]="drawerStyles" [ngClass]="addDarkMode()">
    <div class="back-btn">
        <button mat-stroked-button (click)="close()">
            <mat-icon>close</mat-icon>
            Fechar
        </button>
    </div>
    <div class="header">
        <ng-content select="[header]"></ng-content>
    </div>
    <div class="body">
        <ng-content select="[body]"></ng-content>
    </div>
    <div class="footer">
        <ng-content select="[footer]"></ng-content>
    </div>
</div>