<mat-grid-list cols="2">
  <mat-grid-tile-header>
    <app-login-header></app-login-header>
  </mat-grid-tile-header>
  <mat-grid-tile class="normal-theme" id="login-content">
    <div [ngSwitch]="selectedTab">
      <div *ngSwitchCase="0">
        <app-login-main (sendRegisterSolicitation)="changeTab($event)"></app-login-main>
      </div>
      <div *ngSwitchCase="1">
        <app-register-choice-role (sendRegisterSolicitation)="changeTab($event)"></app-register-choice-role>
      </div>
      <div *ngSwitchCase="2">
        <app-register-manager-form (sendRegisterSolicitation)="changeTab($event)"></app-register-manager-form>
      </div>
      <div *ngSwitchCase="3">
        <app-register-articulator-form (sendRegisterSolicitation)="changeTab($event)"></app-register-articulator-form>
      </div>
      <div *ngSwitchDefault>
        <p>Você é um alien?</p>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <img class="img" src="../../../../assets/Creative team-pana-vcolor.svg" alt="Imagem de crianças montando quebra cabeça">
      <p class="frase normal">Aprenda mais <span class="frase colorida"> compartilhando</span> <br> conhecimento</p>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<app-text-adjustment></app-text-adjustment>

