.mat-grid-tile-container {
  display: flex; 
  align-items: start;
}

.normal-theme {
  background-color: #b4b4b4;
}

img {
  height: 30em;
}

.frase-container {
  display: block;
  margin-top: 50px;
}

.frase {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.colorida {

  background-image: linear-gradient(268.72deg, #00B1F2 38.44%, #96D032 46.8%, #FF8728 53.81%, #FF2E34 59.46%, #FFF200 66.24%, #00A759 72.34%),
    linear-gradient(0deg, #56819F, #56819F);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}