.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo {
    height: 30px;
}

.sid-bar {
    height: 100%;
    width: 18%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

mat-nav-list {
    width: 100%;
    padding-top: 40px;
    font-size: 30px;
}

mat-nav-list span {
    padding-left: 5px;
}

mat-nav-list a {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    padding-left: 20px;
}

mat-nav-list a:hover {
    background-color: #9e9e9e;
}

.normal-theme {
    color: #000000;
}

.dark-theme {
    color: #fff;
}

mat-sidenav-container {
    background-color: transparent;
}

mat-sidenav {
    background-color: transparent;
}

hr {
    border: 0.5px solid #c2c2c2;
    width: 100%;
}
  
span {
    font-size: 17px;
    font-weight: 500;
    width: 50%;
}