<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened class="sid-bar">
        <div fx layout="column" fxLayoutAlign="center center">
            <img src="../../../../assets/logo_bola_colorida.png.png" alt="logo" height="100px">
        </div>
        <div fx layout="column" fxLayoutAlign="center center" >
            <mat-nav-list>
                <div [ngSwitch]="userRole">
                    <a *ngSwitchCase="1" routerLink="/dashboard/solicitations">
                        <mat-icon> table_chart</mat-icon>
                            <span>Solicitações</span>
                    </a>
                    <a *ngSwitchCase="1">
                        <div fx layout="row" fxLayoutAlign="center center">
                            <mat-icon>people</mat-icon>
                            <span>Células</span>
                        </div>
                    </a>
                    <a routerLink="/dashboard/your-cells" *ngSwitchCase="2">
                        <mat-icon>people</mat-icon>
                        <span>Sua célula</span>
                    </a>
                    <a routerLink="/user" *ngSwitchCase="2">
                        <mat-icon> insert_drive_file</mat-icon>
                        <span>Relatórios</span>
                    </a>
                </div>
                <hr> 
                <a routerLink="/settings">
                    <mat-icon>settings</mat-icon>
                    <span>Configurações</span>
                </a>
                <a (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Sair</span>
                </a>
            </mat-nav-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-nav-bar-component [userName]="userName" [userId]="userId"></app-nav-bar-component>

        <div>
            <app-text-adjustment></app-text-adjustment>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>