<div class="add-container">
    <div class="add-card">
        <div class="add-card-text" fxLayout="column"  fxLayoutAlign="space-around center" fxLayoutGap="60px">
            <p>Quantidade de células <br> permitidas</p>
            <span>{{count}} / 1</span>
        </div>
    </div>
</div>
