<div fxLayout="row" fxLayoutAlign="space-between center" class="header-linha">
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="70">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <img class="header-logo" src="../../../../../assets/logo_bola_colorida.png.png" alt="">
                <span class="pacce-font">PACCE</span>
            </div>
            <span class="subtitle">Programa de Aprendizagem Cooperativa Em Células Estudantes</span>
        </div>
        <div fxFlex="30" fxLayout="row" fxLayoutAlign="space-around center" >
            <div>
                <p>Sobre</p>
            </div>
            <div>
                <p>Contato</p>
            </div>
            <div>
                <a routerLink="/login">
                    <button mat-raised-button color="primary">
                        Entrar
                        <mat-icon>login</mat-icon>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>