.boder-img {
    box-sizing: border-box;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: 100%;
}

.welcome-frase{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}

.login-frase {
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
}

.box {
    padding: 20px;
}

.register-choice-role-buttons {
    margin: 10px;
}

.selected {
    border: 1px solid #7897a3;
}

.boder-img:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}