<!-- One flexbox container with two flexbox items. The first flexbox item is the image and the second flexbox item is the form. The image is a background image of the first flexbox item. The form is a flexbox container with two flexbox items. The first flexbox item is the title and the second flexbox item is the buttons. The buttons are a flexbox container with two flexbox items. The first flexbox item is the button to register as a student and the second flexbox item is the button to register as a teacher. -->
<div fxLayout="column" fxLayoutAlign="space-around center" class="register-choice-role">
  <div fxLayout="column" fxLayoutAlign="center center" class="register-choice-role-title">
    <h1 class="welcome-frase">Cadastrase-se no PACCE <strong>Connect</strong></h1>
    <h1>Escolha seu papel</h1>
  </div>
  <div fxLayout="row"  fxLayoutAlign="space-between center" >
    <div fxLayout="column" fxLayoutAlign="space-around center" class="box">
        <div class="boder-img" class="{{selectedTab == 2 ? 'selected' : ''}}" (click)="setRule(2)"> 
            <img src="../../../../assets/shine-young-woman-is-talking-about-something.png" alt="">
        </div>
        <p>Gestor(a)</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <div class="boder-img" class="{{selectedTab == 3 ? 'selected' : ''}}" (click)="setRule(3)">
            <img src="../../../../assets/shine-young-man-with-loudspeaker.png" alt="" height="225px">
        </div>
        <p>Articulador(a)</p>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-between center">
    <button mat-raised-button color="primary" class="register-choice-role-button" disabled={{!isSelectedRole}} (click)="registerHanlder()">Continuar</button>
    <a class="login-frase" (click)="registerHanlderLogin()">Já tem uma conta? <strong>Entrar</strong></a>
  </div>
</div>