.example-card {
    background-color: #ebebeb;
    max-width: 300px;
}

.dark-theme {
    background-color: #333333;
}

.dark-theme button {
    color: #ffffff;
}

.example-card img {
    height: 125px;
    width: 300px;
}

.main-informations {
    margin-top: 10px;
}