<mat-card class="example-card" id="cell-card" [ngClass]="addDarkMode()">
    <img mat-card-image src="../../../assets/12_asadas12221.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <div *ngIf="cell !== null" class="main-informations">
            <p>
                <b>Nome:</b> {{cell?.name}}
            </p>
            <p>
                <b>Status:</b> {{cell?.status ? translateStatusHelper(cell.status) : ''}}
            </p>
            <p>
                <b>Articulador:</b> {{cell?.articulator?.name}} {{cell?.articulator?.surName}}
            </p>
        </div>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-around center">
      <a  routerLink="/dashboard/your-cells/cell-plan">
        <button mat-stroked-button>
            <mat-icon>edit</mat-icon>
            Editar  
        </button>
      </a>
      <button mat-stroked-button (click)="openDrawer()" *ngIf="cell !== null">
        <mat-icon>donut_large</mat-icon>
        Estatísticas
        </button>
    </mat-card-actions>
</mat-card>
  