<div fxLayout="column" fxLayoutAlign="space-between center" class="cell-plan-tab">
    <app-statistical-squares
        title1="Status"
        prop1={{status}}
        title2="Com Observação"
        prop2={{qtdPending}}
        title3="Válidos"
        prop3={{qtdApproved}}
    ></app-statistical-squares>
    <div fxLayout="column" fxLayoutAlign="center center" class="form-steper">
        <mat-horizontal-stepper liner #stepper>
            <mat-step [stepControl]="step1Form" errorMessage="Preencha todos os campos">
                <form class="form" [formGroup]="step1Form" (ngSubmit)="nextStep(stepper)">
                    <ng-template matStepLabel>Informações da célula</ng-template>
                    <div fxLayout="column" fxLayoutAlign="space-between" class=first-field>
                        <p *ngIf="hasComments.hasTitleComment">
                            <i>Comentário: {{cell.plan.titleComment}}</i>
                        </p>
                        <mat-form-field appearance="outline" 
                            matBadge="1"
                            matBadgeColor="warn"
                            [matBadgeHidden]="!hasComments.hasTitleComment"
                            matTooltip="💡 Esse campo é destinado ao nome resumido da célula acrescido com o semestre iniciado."
                            matTooltipPosition="right">
                                <mat-label>Título da Célula</mat-label>
                                <input matInput placeholder="Célula de Inglês 2023.1" required formControlName="title">
                                <mat-error *ngIf="titleControl.invalid">{{getTitleErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxLayout="column" class="full-width">
                                <p *ngIf="hasComments.hasDayOfWeekComment">
                                    <i>Comentário: {{cell.plan.dayOfWeekComment}}</i>
                                </p>
                                <mat-form-field appearance="outline"
                                matBadge="1"
                                matBadgeColor="warn"
                                [matBadgeHidden]="!hasComments.hasDayOfWeekComment"
                                matTooltip="💡 Esse campo é destinado ao dia da semana que a célula ocorre."
                                matTooltipPosition="left">
                                    <mat-label>Dia da semana</mat-label>
                                    <mat-select required formControlName="dayOfWeek">
                                        <mat-option value="Sunday">Domingo</mat-option>
                                        <mat-option value="Monday">Segunda-feira</mat-option>
                                        <mat-option value="Tuesday">Terça-feira</mat-option>
                                        <mat-option value="Wednesday">Quarta-feira</mat-option>
                                        <mat-option value="Thursday">Quinta-feira</mat-option>
                                        <mat-option value="Friday">Sexta-feira</mat-option>
                                        <mat-option value="Saturday">Sábado</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="dayOfWeekControl.invalid">{{getDayOfWeekErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="column" class="full-width">
                                <p *ngIf="hasComments.hasTimeComment">
                                    <i>Comentário: {{cell.plan.timeComment}}</i>
                                </p>
                                <mat-form-field appearance="outline"
                                    matBadge="1"
                                    matBadgeColor="warn"
                                    [matBadgeHidden]="!hasComments.hasTimeComment"
                                    matTooltip="💡 Esse campo é destinado ao horário que a célula ocorre."
                                    matTooltipPosition="right">
                                        <mat-label>Horário</mat-label>
                                        <input matInput type="time" required formControlName="time">
                                        <mat-error *ngIf="timeControl.invalid">{{getTimeErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-around center">
                            <div fxLayout="column" class="full-width">
                                <p *ngIf="hasComments.hasLocalComment">
                                    <i>Comentário: {{cell.plan.localComment}}</i>
                                </p>
                                <mat-form-field appearance="outline"
                                    matBadge="1"
                                    matBadgeColor="warn"
                                    [matBadgeHidden]="!hasComments.hasLocalComment"
                                    matTooltip="💡 Esse campo é destinado ao local que a célula ocorre."
                                    matTooltipPosition="left"
                                    >
                                        <mat-label>Local</mat-label>
                                        <input matInput placeholder="Sala de estudos LAB-4..." required formControlName="local">
                                        <mat-error *ngIf="localControl.invalid">{{getLocalErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="column" class="full-width">
                                <p *ngIf="hasComments.hasDurationComment">
                                    <i>Comentário: {{cell.plan.durationComment}}</i>
                                </p>
                                <mat-form-field appearance="outline"
                                    matBadge="1"
                                    matBadgeColor="warn"
                                    [matBadgeHidden]="!hasComments.hasDurationComment"
                                    matTooltip="💡 Esse campo é destinado a duração da célula."
                                    matTooltipPosition="right"
                                    >
                                        <mat-label>Duração</mat-label>
                                        <input matInput type="time" required formControlName="duration">
                                        <mat-error *ngIf="durationControl.invalid">{{getDurationErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                      </div>
                      <div fxLayout="column" style="justify-content: start;">
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center" class="button-register">
                        <button mat-raised-button color="primary" type="submit">Próximo</button>
                    </div>
                </form>
            </mat-step>
            
            <!-- Step 2 -->
            <mat-step [stepControl]="step2Form">
                <form [formGroup]="step2Form" (ngSubmit)="submitForm()" rrorMessage="Preencha todos os campos">
                    <ng-template matStepLabel>Outras Informações</ng-template>
                    <div fxLayout="column" fxLayoutAlign="space-between">
                        <p *ngIf="hasComments.hasModeComment">
                            <i>Comentário: {{cell.plan.modeComment}}</i>
                        </p>
                        <mat-form-field appearance="outline" class="first-field"
                            matBadge="1"
                            matBadgeColor="warn"
                            [matBadgeHidden]="!hasComments.hasModeComment"
                            matTooltip="💡 Esse campo é destinado ao modo que a célula ocorre."
                            matTooltipPosition="right"
                            >
                                <mat-label>Modo</mat-label>
                                <input matInput placeholder="Presencialmente na sala de estudos..." required formControlName="mode">
                                <mat-error *ngIf="modeControl.invalid">{{getModeErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <p *ngIf="hasComments.hasSynopsisComment">
                            <i>Comentário: {{cell.plan.synopsisComment}}</i>
                        </p>
                        <mat-form-field appearance="outline"
                            matBadge="1"
                            matBadgeColor="warn"
                            [matBadgeHidden]="!hasComments.hasSynopsisComment"
                            matTooltip="💡 Esse campo é destinado a uma visão geral da célula."
                            matTooltipPosition="right"
                            >
                                <mat-label>Sinopse</mat-label>
                                <input matInput placeholder="A Célula de Inglês irá promover o ensino da linguá..." required formControlName="synopsis">
                                <mat-error *ngIf="synopsisControl.invalid">{{getSynopsisErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <p *ngIf="hasComments.hasJustificationComment">
                            <i>Comentário: {{cell.plan.justificationComment}}</i>
                        </p>
                        <mat-form-field appearance="outline"
                            matBadge="1"
                            matBadgeColor="warn"
                            [matBadgeHidden]="!hasComments.hasJustificationComment"
                            matTooltip="💡 Esse campo é destinado a uma breve justificativa da célula."
                            matTooltipPosition="right"
                            >
                                <mat-label>Justificativa</mat-label>
                                <input matInput placeholder="A célula de xadrez foi criada com o objetivo de..." required formControlName="justification">
                                <mat-error *ngIf="justificationControl.invalid">{{getJustificationErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <p *ngIf="hasComments.hasTargetAudienceComment">
                            <i>Comentário: {{cell.plan.targetAudienceComment}}</i>
                        </p>
                        <mat-form-field appearance="outline"
                            matBadge="1"
                            matBadgeColor="warn"
                            [matBadgeHidden]="!hasComments.hasTargetAudienceComment"
                            matTooltip="💡 Esse campo é destinado ao público alvo da célula."
                            matTooltipPosition="right"
                            >
                                <mat-label>Público alvo</mat-label>
                                <input matInput placeholder="Alunos do curso de Engenharia de Software..." required formControlName="targetAudience">
                                <mat-error *ngIf="targetAudienceControl.invalid">{{getTargetAudienceErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <p *ngIf="hasComments.hasActivitiesComment">
                            <i>Comentário: {{cell.plan.activitiesComment}}</i>
                        </p>
                        <mat-form-field appearance="outline"
                            matBadge="1"
                            matBadgeColor="warn"
                            [matBadgeHidden]="!hasComments.hasActivitiesComment"
                            matTooltip="💡 Esse campo é destinado as atividades que a célula irá promover."
                            matTooltipPosition="right"
                            >
                                <mat-label>Atividades</mat-label>
                                <input matInput placeholder="Games de inglês, conversação..." required formControlName="activities">
                                <mat-error *ngIf="activitiesControl.invalid">{{getActivitiesErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <p *ngIf="hasComments.hasToolsComment">
                            <i>Comentário: {{cell.plan.toolsComment}}</i>
                        </p>
                        <mat-form-field appearance="outline"
                            matBadge="1"
                            matBadgeColor="warn"
                            [matBadgeHidden]="!hasComments.hasToolsComment"
                            matTooltip="💡 Esse campo é destinado as ferramentas que a célula irá utilizar."
                            matTooltipPosition="right"
                            >
                                <mat-label>Ferramentas</mat-label>
                                <input matInput placeholder="Computador, projetor, quadro..." required formControlName="tools">
                                <mat-error *ngIf="toolsControl.invalid">{{getToolsErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <p *ngIf="hasComments.hasResultIndicatorsComment">
                            <i>Comentário: {{cell.plan.resultIndicatorsComment}}</i>
                        </p>
                        <mat-form-field appearance="outline"
                            matBadge="1"
                            matBadgeColor="warn"
                            [matBadgeHidden]="!hasComments.hasResultIndicatorsComment"
                            matTooltip="💡 Esse campo é destinado aos indicadores de resultados da célula."
                            matTooltipPosition="right"
                            >
                                <mat-label>Indicadores de resultados</mat-label>
                                <input matInput placeholder="Aumento da capacidade de conversação..." required formControlName="resultIndicators">
                                <mat-error *ngIf="resultIndicatorsControl.invalid">{{getResultIndicatorsErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <p *ngIf="hasComments.hasMeansOfVerificationComment">
                            <i>Comentário: {{cell.plan.meansOfVerificationComment}}</i>
                        </p>
                        <mat-form-field appearance="outline"
                            matBadge="1"
                            matBadgeColor="warn"
                            [matBadgeHidden]="!hasComments.hasMeansOfVerificationComment"
                            matTooltip="💡 Esse campo é destinado aos meios de verificação da célula."
                            matTooltipPosition="right"
                            >
                                <mat-label>Meios de Verficação</mat-label>
                                <input matInput placeholder="Práticas de conversação, avaliações..." required formControlName="meansOfVerification">
                                <mat-error *ngIf="meansOfVerificationControl.invalid">{{getMeansOfVerificationErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-around center" class="button-register">
                        <button mat-button matStepperPrevious>
                            <mat-icon>keyboard_arrow_left</mat-icon>
                            Voltar
                        </button>
                        <button mat-raised-button color="primary" type="submit" >
                            <mat-icon>saveas</mat-icon>
                            Salvar
                        </button>
                        <button *ngIf="isSent" mat-raised-button color="primary" type="button" (click)="UpdateStatusCell()">
                            <mat-icon>send</mat-icon>
                            Enviar {{action}}
                        </button>
                    </div>
                </form>
            </mat-step>

        </mat-horizontal-stepper>
    </div>
</div>