.cell-plan-tab {
    margin-top: 50px;
    margin-bottom: 50px;
}

mat-form-field {
    width: 100%;
    padding: 5px;
    padding-top: 8px;
}

.squares-statistics {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.description {
    font-size: 18px;
    margin-top: 10px;
}

.square-content1 {
    border: 1px solid #ff6a00;
    color: #ff6a00;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}
.square-content2 {
    border: 1px solid #fa1c1c;
    color: #fa1c1c;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}
.square-content3 {
    border: 1px solid #00af0f;
    color: #00af0f;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.square-content1:hover {
    background-color: #ccc;
}
.square-content2:hover {
    background-color: #ccc;
}
.square-content3:hover {
    background-color: #ccc;
}

mat-horizontal-stepper {
    width: 100%;
    border-radius: 10px;
}

.form-steper {
    width: 56em;
}

.first-field { 
    margin-top: 13px;
}

p {
    margin: 0;
}

i {
    background-color: rgb(253, 144, 155);
    color: white;
    border-radius: 5px;
    font-weight: 200;
    padding-left: 10px;
    padding-right: 10px;
}

.full-width {
    width: 100%;
    padding: 5px;
}