<mat-grid-list cols="2" >    
    <mat-grid-tile-header>
        <app-welcome-header></app-welcome-header>
    </mat-grid-tile-header>
    <mat-grid-tile>
        <app-welcome-main></app-welcome-main>
    </mat-grid-tile>
    <mat-grid-tile>
        <div fxLayout="row" fxLayoutAlign="start end">
            <img src="../../../../../assets/Solidarity-pana.svg" alt="Homem sorrindo e olhando para o computador" height="650px">
        </div>
    </mat-grid-tile>
</mat-grid-list>
<app-text-adjustment></app-text-adjustment>