 
.bem-vinda-frase{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}

.form {
  margin-top: 20px;
  width: 100%;
}

.register {
  margin-top: 30px;
  width: 100%;
}

.forguet-pass {
  margin-bottom: 30px;
  font-weight: 400;
}
