<div class="login-page" fxLayout="column" fxLayoutAlign="space-around start">
  <div fxLayout="row" fxLayoutAlign="center">
    <h1 class="bem-vinda-frase" id="text"> Bem vinda de volta ao PACCE <br> <strong>Connect</strong>
    </h1>
  </div>
  <form class="form" [formGroup]="login" (ngSubmit)="submitForm()">
    <div fxLayout="column" fxLayoutAlign="space-between">
      <mat-form-field appearance="outline">
        <mat-label id="text">Nome de usuário ou email</mat-label>
        <input matInput placeholder="pat@example.com" required formControlName="emailOrUserName">
        <mat-error *ngIf="userNameOrEmailControl.invalid">{{getUserNameOrEmailErrorMessage()}}</mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label id="text">Senha</mat-label>
        <input type="password" matInput placeholder="password" required formControlName="password">
        <mat-error id="text" *ngIf="login.controls.password">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="column" style="justify-content: start;">
      <a href="" class="forguet-pass" id="text">Esqueceu a senha?</a>

      <div fxLayout="row" fxLayoutAlign="center">
        <button class="button-entrar" mat-raised-button color="primary" type="submit" id="text">
          Entrar
          <mat-icon>login</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>
<div fxLayout="column" fxLayoutAlign="center center" class="register">
  <p class="frase" id="text">Não tem uma conta? </p>
  <button class="button-registrar" mat-raised-button (click)="registerHandler()" id="text">
    Registrar
    <mat-icon>person_add</mat-icon>
  </button>
</div>