.header-logo{
  height: 6em;
  padding-left: 20px;
  padding-top: 10px;
}

.normal-theme {
  background-color: #b4b4b4;
}
.pacce-font {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 60px;
  line-height: 30px;
  letter-spacing: 0.07em;
}

.subtitle {
  display: flex;
  font-size: small;
  padding-left: 15px;
  padding-top: 15px;
}

p:hover{
  text-decoration: underline;
}

p{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 54px;
}

.imagem{
  height: 6em;
  padding-left: 20px;
  padding-top: 20px;
}