<!--Dividir o header em 2 colunas metade igualmente para cada (pedir ajuda para o Daniel depois) -->
<div fxLayout="row" fxLayoutAlign="space-around center"> 
    <div fxFlex="50" class="normal-theme" id="header-login">
        <div  fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <img class="header-logo" src="../../../../../assets/logo_bola_colorida.png.png" alt="">
            <span class="pacce-font">PACCE</span>
        </div>
        <span class="subtitle">Programa de Aprendizagem Cooperativa Em Células Estudantes</span>
    </div>
    
    <div fxFlex="50" fxLayout="row" fxLayoutAlign="flex-end" class="header-linha-right" class="right-side">
        <div fxFlex="25">
            <a routerLink="/">
                <p>Home</p>
            </a>
        </div>
        <div fxFlex="25">
            <p>Sobre</p>
        </div>
        <div fxFlex="25">
            <p>Contato</p>
        </div>
        
    </div>
</div>