.pacce-titulo{
  font-size: 50px;
  line-height: 60px;
}

.welcome-subtitle {
  font-size: 20px;
  line-height: 36px;
  color: #8b8b8b;
}

p{
  font-size: 50px;
}

h1{
font-style: normal;
font-weight: 300;
}

.pacce-colorido{
  background-image:linear-gradient(
    268.72deg, #00B1F2 38.44%, #96D032 46.8%, #FF8728 53.81%, #FF2E34 59.46%, #FFF200 66.24%, #00A759 72.34%
    )  ;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
}

img{
  max-width: 100%;
  display: block;
}

