<div fxLayout="row" fxLayoutAlign="center center">

  <div fxLayout="column" fxLayoutAlign="center center">
     
  <div fxLayout="column" fxLayoutAlign="space-around start" style="padding: 25px;">
    <h1 class="pacce-titulo">Pacce <span class="pacce-colorido">Connect</span> venha se <br> conectar também</h1>

    <p class="welcome-subtitle">Conecte-se com pessoas que compartilham dos mesmos interesses que você, e crie células de estudos para compartilhar conhecimento.</p>
  </div>

  <a routerLink="/login">
    <button mat-raised-button color="primary">
      <span class="welcome-button-text">Junte-se a nós</span>
      <mat-icon> diversity_1 </mat-icon>
    </button>
  </a>

</div>
