/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f2f2f2;}

a { text-decoration: none; color: #000; }

.dark-theme {
  background-color: #424242;
  color: #e6e6e6;
}

.dark-theme a  {
  color: #e6e6e6;
}

.dark-theme #login-content {
  background-color: #333333;
  color: #e6e6e6;
}

.dark-theme #header-login {
  background-color: #333333;
  color: #e6e6e6;
}

.dark-theme #login-content mat-label {
  color: #e6e6e6;
}

.dark-theme .mat-drawer-container {
  background-color: #424242;
  color: #e6e6e6;
}

.dark-theme mat-toolbar-row {
  background-color: #424242;
  color: #e6e6e6;
}

.mat-mdc-snack-bar-container {
  &.blue-snackbar {
    --mat-mdc-snack-bar-button-color: #3f51b5;
  }
}

.mat-mdc-button .mdc-button__label, .mat-mdc-unelevated-button .mdc-button__label, .mat-mdc-raised-button .mdc-button__label, .mat-mdc-outlined-button .mdc-button__label {
  z-index: 0 !important;
}