<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="60px" class="squares-statistics">
    <div class="square-content1">
        <div fxLayout="column" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center">
                <span>{{title1}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <span class="description"><strong>{{[prop1]}}</strong></span>
            </div>
        </div>
    </div>
    <div class="square-content2">
        <div fxLayout="column" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center">
                <span>{{title2}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <span class="description"><strong>{{prop2}}</strong></span>
            </div>
        </div>
    </div>
    <div class="square-content3">
        <div fxLayout="column" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center">
                <span>{{title3}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <span class="description"><strong>{{prop3}}</strong></span>
            </div>
        </div>
    </div>
</div>