.squares-statistics {
    font-size: 18px;
    margin-bottom: 20px;
}

.description {
    font-size: 20px;
    margin-top: 10px;
}

.square-content1 {
    border: 1px solid #ff6a00;
    color: #ff6a00;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}
.square-content2 {
    border: 1px solid #fa1c1c;
    color: #fa1c1c;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}
.square-content3 {
    border: 1px solid #00af0f;
    color: #00af0f;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.square-content1:hover {
    background-color: #ccc;
}
.square-content2:hover {
    background-color: #ccc;
}
.square-content3:hover {
    background-color: #ccc;
}