<div class="form" fxLayout="column" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxLayoutAlign="center center">
        <h1 class="welcome-frase">Cadastrase-se no PACCE <strong>Connect</strong></h1>
        <h1>Gestor(a)</h1>
    </div>
    <form class="form" [formGroup]="registerFormManager" (ngSubmit)="submitForm()">
      <div fxLayout="column" fxLayoutAlign="space-between">
        <mat-form-field appearance="outline">
          <mat-label>Nome completo</mat-label>
          <input matInput placeholder="Vitória Alves de Lima" required formControlName="fullName">
          <mat-error *ngIf="fullNameControl.invalid">{{getFullNameErrorMessage()}}</mat-error>
        </mat-form-field>
        
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field appearance="outline">
            <mat-label>Nome de usário</mat-label>
            <input matInput placeholder="vitor_alves" required formControlName="userName">
            <mat-error *ngIf="userNameControl.invalid">{{getUserNameErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Celular</mat-label>
            <span matPrefix>+55 &nbsp;</span>
            <input matInput placeholder="8899228272" required maxlength="11" formControlName="phone">
            <mat-hint align="end">{{phoneControl.value?.length || 0}}/11</mat-hint>
            <mat-error *ngIf="phoneControl.invalid">{{getPhoneErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="vitoria@alves.com" required formControlName="email">
          <mat-error *ngIf="emailControl.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="password1">
            <mat-error *ngIf="password1Control.invalid">{{getPassword1ErrorMessage()}}</mat-error>
            <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
              <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Confirme a senha</mat-label>
            <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="password2">
            <mat-error *ngIf="password2Control.invalid">{{getPassword2ErrorMessage()}}</mat-error>
            <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center" class="button-register">
        <button  mat-raised-button color="primary" type="submit">Entrar</button>
      </div>
    </form>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" class="register">
    <a class="login-frase" (click)="registerHanlder()">Já tem uma conta? <strong>Entrar</strong></a>
  </div>