.cell-plan-tab {
    margin-top: 50px;
    margin-bottom: 50px;
}

.form {
    width: 125%;
}

mat-form-field {
    width: 100%;
    padding: 10px;
}

.description {
    font-size: 18px;
    margin-top: 10px;
}

.table-view {
    width: 60%;
}

.blue {
    color: #007bff;
    border-radius: 5px;
}

.green {
    color: #28a745;
    border-radius: 5px;
}

.red {
    color: #dc3545;
    border-radius: 5px;
}

.orange {
    color: #ffc107;
    border-radius: 5px;
}

.yellow {
    color: #ffc107;
    border-radius: 5px;
}