<div fxLayout="column" fxLayoutAlign="space-between center" class="cell-plan-tab">
    <app-statistical-squares
        title1="Solicitações"
        prop1={{solicitationTotal}}
        title2="Pendentes"
        prop2={{solicitationPending}}
        title3="Ativas"
        prop3={{solicitationaActive}}
    ></app-statistical-squares>
    <div class="table-view">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
            <!-- Name Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef> Nome </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="articulator">
              <th mat-header-cell *matHeaderCellDef> Articulator </th>
              <td mat-cell *matCellDef="let element"> {{element.articulator.name}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element" [ngClass]="translateStatusColor(element.status)"> {{(translateStatus(element.status))}}</td>"
            </ng-container>

            <ng-container matColumnDef="link">
                <th mat-header-cell *matHeaderCellDef> Acesso </th>
                <td mat-cell *matCellDef="let element"> 
                   <a [routerLink]="['/dashboard/request', element.articulator.id]">
                    <mat-icon>open_in_new</mat-icon>
                   </a> 
                </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>